<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="keywords" content = "About me, Description"/>
  <meta nam = "description" content = "About me page and start of the tutorial"/>
  <meta name = "author" content = "Raphael Sorino, Jules Pangcog"/>
  <meta name = "revised" content = "December 20, 2024"/>
  <link href="/style.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/99f58a04-b8f9-41e2-8b09-27e789f37bd0/favicon-32x32.png?v=1734708224233"/>
</head>
  
   <!-- Nav Bar -->
  <header>
    <div class = "navBar">
      <div class = "navLeft">
        <img class = "icon" src="https://cdn.glitch.global/99f58a04-b8f9-41e2-8b09-27e789f37bd0/thumbnails%2FVuAcadLogo.png?1734534921321" alt = "iconOfSchool">
        <p class = "name">
          <a href = "/">Spill the Deej: the Unofficial Vu Academy Freedom Wall</a>
        </p>
      </div>
      <div class = "navRight">
        <div class = "groupNavP">
        <p class = "navP">
          <a href = "/mainPage"><span onclick="tutorial()">Confessions</span></a>
        </p>
        <p class = "navP">
          <a href = "/archive">Archives</a>
        </p>
        <p class = "navP">
          <a href = "/admin"  style = "text-decoration: underline">Admin Archives</a>
        </p>
        </div>
        
      </div>
    </div>
  </header>
  
  <body class = "pageBodies">
 
    <br><br> <br> <br><br> <br>
  <div class = "storage">
      
    <div id="adminPastConf">
      <div class = "container">
        <div id="adminPastConfDiv">
          {{#each adminArchives.adminPage1}}
          <p class = "archivedConfessions">
            {{{this}}}
          </p>
          {{/each}}
        </div>
      </div>
    </div>
    <div id="adminCurrentConf">
      <div class = "container">
        <div id="adminCurrentConfDiv"> 
          {{#each adminArchives.adminPage2}}
          <p class = "archivedConfessions">
            {{{this}}}
          </p>
          {{/each}}
        </div>
      </div>
    </div>
    <div id="adminNextConf">
      <div class = "container">
        <div id="adminNextConfDiv"> 
          {{#each adminArchives.adminPage3}}
          <p class = "archivedConfessions">
            {{{this}}}
          </p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
    <br> <br> <br> 
    
    <div class="pagination">
      <a href="#" onclick = "adminBack()" class="pageNumber">&laquo; Back</a>
      <a href="#" onclick = "adminChangePage(1)" class="pageNumber">1</a>
      <a href="#" onclick = "adminChangePage(2)" class="pageNumber">2</a>
      <a href="#" onclick = "adminChangePage(3)" class="pageNumber">3</a>
      <a href="#" onclick = "adminNext()" class="pageNumber">&raquo; Next</a>
    </div>
    <script src = "/script.js" defer></script>
    <script>
      currPage = 2;

      function adminChangePage(number) {
        switch (number) {
          case 1: 

            document.getElementById('adminPastConf').classList.add('hideStay');

            document.getElementById('adminCurrentConfDiv').innerHTML = `
            {{#each adminArchives.adminPage1}}
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            document.getElementById('adminNextConf').classList.remove('hideStay');
            document.getElementById('adminNextConfDiv').innerHTML = `
            {{#each adminArchives.adminPage1}}
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            currPage = 1;
            break;
          case 2: {
            document.getElementById('adminPastConf').classList.remove('hideStay');

            document.getElementById('adminPastConfDiv').innerHTML = `
            {{#each adminArchives.adminPage1}}
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;
            
            document.getElementById('adminCurrentConfDiv').innerHTML = `
            {{#each adminArchives.adminPage2}}    
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            document.getElementById('adminNextConf').classList.remove('hideStay');
            document.getElementById('adminNextConfDiv').innerHTML = `
            {{#each adminArchives.adminPage3}}
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            currPage = 2;
            break;
          }

          case 3: {
            document.getElementById('adminPastConf').classList.remove('hideStay');
            document.getElementById('adminPastConfDiv').innerHTML = `
            {{#each adminArchives.adminPage2}}    
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            document.getElementById('adminCurrentConfDiv').innerHTML = `
            {{#each adminArchives.adminPage3}}    
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            document.getElementById('adminNextConf').classList.add('hideStay');

            currPage = 3;
            break;
          }
          default: // do nothing
        }
      }

      function adminNext() {
        if (currPage < 3) {
          adminChangePage(currPage + 1);
        }
      }

      function adminBack() {
        if (currPage > 1) {
          adminChangePage(currPage - 1);
        }
      }

      window.onload = function() {
        setInterval(needs(), 10000);
      }
    </script>
  </body>
  
</html>