<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="keywords" content = "About me, Description"/>
  <meta nam = "description" content = "About me page and start of the tutorial"/>
  <meta name = "author" content = "Raphael Sorino, Jules Pangcog"/>
  <meta name = "revised" content = "December 20, 2024"/>
  <link href="/style.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/99f58a04-b8f9-41e2-8b09-27e789f37bd0/favicon-32x32.png?v=1734708224233"/>
</head>
  
   <!-- Nav Bar -->
  <header>
    <div class = "navBar">
      <div class = "navLeft">
        <img class = "icon" src="https://cdn.glitch.global/99f58a04-b8f9-41e2-8b09-27e789f37bd0/thumbnails%2FVuAcadLogo.png?1734534921321" alt = "iconOfSchool">
        <p class = "name">
          <a href = "/">Spill the Deej: the Unofficial Vu Academy Freedom Wall</a>
        </p>
      </div>
      <div class = "navRight">
        <div class = "groupNavP">
        <p class = "navP">
          <a href = "/mainPage"><span onclick="tutorial()">Confessions</span></a>
        </p>
        <p class = "navP">
          <a style = "text-decoration: underline" href = "/archive" >Archives</a>
        </p>
        <p class = "navP">
          <a><span onclick="showModal()" style="cursor:pointer">Admin Archives</span></a>
        </p>
        </div>
        
      </div>
    </div>

    <div class="modal modalCheckPswd">
      <div class="modalContent">
        <h2>
          Please enter the password.
        </h2>
        <input type = "text" class="password" placeholder = "Enter password.">
        <div class="buttonContainer">
          <button onclick="hideModal()">Cancel</button>
          <button onclick="checkPassword()">Submit</button>
        </div>
      </div>
    </div>
  </header>
  
  <body class = "pageBodies">
 
    <br><br> <br> <br><br> <br>
  <div class = "storage">
      
      <div id="pastConf">
        <div class = "container">
          <div id = "pastConfDiv">
            {{#each archives.page1}}
            <p class = "archivedConfessions">
              {{{this}}}
            </p>
            {{/each}}
          </div>
        </div>
      </div>
      <div id="currentConf">
        <div class = "container">
          <div id = "currentConfDiv">
            {{#each archives.page2}}
            <p class = "archivedConfessions">
              {{{this}}}
            </p>
            {{/each}}
          </div>
        </div>
      </div>

      <div id="nextConf">
        <div class = "container">
          <div id = "nextConfDiv">
            {{#each archives.page3}}
            <p class = "archivedConfessions">
              {{{this}}}
            </p>
            {{/each}}
          </div>
      </div>
  </div>
</div>
    <br> <br> <br> 
    
    <div class="pagination">
      <a href="#" onclick = "back()" class="pageNumber">&laquo; Back</a>
      <a href="#" onclick = "changePage(1)" class="pageNumber">1</a>
      <a href="#" onclick = "changePage(2)" class="pageNumber">2</a>
      <a href="#" onclick = "changePage(3)" class="pageNumber">3</a>
      <a href="#" onclick = "next()" class="pageNumber">&raquo; Next</a>
    </div>
    <script src="/script.js" defer></script>
    <script>
      currPage = 2;

      function changePage(number) {
        switch (number) {
          case 1: 

            document.getElementById('pastConf').classList.add('hideStay');

            document.getElementById('currentConfDiv').innerHTML = `
            {{#each archives.page1}}
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            document.getElementById('nextConf').classList.remove('hideStay');
            document.getElementById('nextConfDiv').innerHTML = `
            {{#each archives.page1}}
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            currPage = 1;
            break;
          case 2: {
            document.getElementById('pastConf').classList.remove('hideStay');

            document.getElementById('pastConfDiv').innerHTML = `
            {{#each archives.page1}}
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;
            
            document.getElementById('currentConfDiv').innerHTML = `
            {{#each archives.page2}}    
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            document.getElementById('nextConf').classList.remove('hideStay');
            document.getElementById('nextConfDiv').innerHTML = `
            {{#each archives.page3}}
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            currPage = 2;
            break;
          }

          case 3: {
            document.getElementById('pastConf').classList.remove('hideStay');
            document.getElementById('pastConfDiv').innerHTML = `
            {{#each archives.page2}}    
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            document.getElementById('currentConfDiv').innerHTML = `
            {{#each archives.page3}}    
            <p class = "archivedConfessions">
            {{{this}}}
            </p>
            {{/each}}`;

            document.getElementById('nextConf').classList.add('hideStay');

            currPage = 3;
            break;
          }
          default: // do nothing
        }
      }

      function next() {
        if (currPage < 3) {
          changePage(currPage + 1);
        }
      }

      function back() {
        if (currPage > 1) {
          changePage(currPage - 1);
        }
      }

      window.onload = function() {
        needs()
      }
    </script>
  </body>
  
</html>